.card-section {
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    padding: 40px 20px 100px 20px;
}

.card-size {
    max-width: 360px;
}

.color-5 {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.shadow{
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}